/* ==========================================================================
   Breadcrumbs & search form (page.html.php)
   ========================================================================== */

.sub-header {
  background: $gray-lighter;
  padding-top: 15px;
  padding-bottom: 15px;

  > div {
    @extend .row;

    > .breadcrumbs {
      @extend .col-xs-12;
      @extend .col-sm-8;

      > nav {
        > ol {
          @extend .breadcrumb;
          margin-bottom: 0;

          // Icons are defined in _icons.scss, as they're reuseable
        }
      }
    }

    // Search form
    .search-form {
      @extend .col-xs-12;
      @extend .col-sm-4;
    }
  }
}