/* ==========================================================================
   Comments
   ========================================================================== */

#g-comments {
  #g-add-comment {
    position: static;
    left: auto;
    right: auto;
    top: auto;
  }
}