/* ==========================================================================
   Pagination
   ========================================================================== */

.pager {
  text-align: center;

  >ul {
    @extend .pagination;

    >li {
      >a {
        width: 100px;
        display: block;
        >span {
          @extend .sr-only;
        }
        >img {
          @extend .img-responsive;
        }
      }

      &.disabled {
        >a {
          >img {
            opacity: 0.4;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: gray;
            filter: grayscale(100%);
          }
        }
      }
    }
  }
}


@media (min-width: $screen-md-min) {

}