/* ==========================================================================
   Photo - individual photo template (photo.html.php)
   ========================================================================== */

.item {

  // Ensure it's above the navbar
  .tooltip {
    .tooltip-inner {
      background: $white;
      border: 1px solid $gray;
      border-radius: $border-radius-base;
      color: $black;

      img {
        @extend .img-responsive;
      }
    }
  }

  &.photo {
    img {
      @extend .img-responsive;
      width: 100%;
    }
  }
}
